body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Tangerine', cursive;
  font-size: 700%;
  color: #CE183F;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #CE183F;
  font-weight: bold;
  margin-top: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #F60B3E;
}

a {
  color: #F60B3E;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 50px;
  color: #D3D3D3;
}

.top-container {
  background-color: #d5f0f5;
  position: relative;
  padding-top: 100px;
  top: 0;
}

.middle-container {
  margin: 80px auto 0 auto;
  width: 50%;

}

.bottom-container {
  background-color: #CE183F;
  color: white;
  padding-top: 40px;
  padding-bottom: 10px;
}

.Introduction {
  margin: auto auto 50px auto;
  line-height: 2;
}

.skills {
  margin-top: 60px;
}

.skill-row {
  margin: 60px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.EmailLink {
  margin: 40px auto 80px auto;
}

.contact-me {
  margin: auto;
  line-height: 2;
}

.contact_button {
  border-style: inset;
  background-color: #CE183F;
  padding: 10px;
  width: 130px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contact_button:hover {
  background-color: #7a011b;
}

.footer-link {
  text-decoration: none;
  color: #FFB0C2;
  margin: 30px;
}

.footer-link:hover {
  color: #7a011b;
}

.JanaBockova{
  margin-top: 40px;
  margin-bottom: 0;
}

.TopCloudImg {
  position: absolute;
  top: 60px;
  right: 25%;
  width: 15%;
}

.BottomCloudImg {
  position: absolute;
  left: 20%;
  top: 230px;
  width: 10%;
}

.MountainImg {
  width: 35%;

}

.ProfileImg {
  border-radius: 100%;
  width: 25%;
}

.ComputerImg {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.PlayingCardsImg {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
